<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alejandro.esmus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            <activity
            android:name=".ModelActivity"
            android:label="@string/title_activity_model"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PhrasesActivity"
            android:label="@string/title_activity_phrases"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivivty"
            android:label="@string/title_activity_register_activivty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowPhraseActivity"
            android:label="@string/title_activity_show_phrase"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdvisesActivity"
            android:label="@string/title_activity_advises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowAdviceActivity"
            android:label="@string/title_activity_show_advice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AjustesActivity"
            android:label="@string/title_activity_ajustes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LastPhrases"
            android:label="@string/title_activity_last_phrases"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
